

.logo {
    position: "absolute";
    left: "50%";
    top: "50%";
    z-index: "10";
    transform: "translate(-50%, -50%)";
    filter: brightness(70%);
    transition: 0.2s;
}

.logo:hover {
    /* display: none; */
    filter: brightness(100%);
    transition: 0.2s;

}

.logo2 {
    display: none;
    position: "absolute";
    left: "50%";
    top: "50%";
    z-index: "10";
    transform: "translate(-50%, -50%)";
}

